<div class="block notice">
  <h3>Simple Block</h3>
  <div class="content">
    <p>Number of properly classified messages: <%= @cl_result.to_s %></p>
  </div>
</div>
<div class="block">
  <h3>Info</h3>
  <ul class="navigation">
    <li>Number of messages: <%= Messages.all.length.to_s%></li>
    <li><a href="#">Link 2</a></li>
  </ul>
</div>

